body {
  background: linear-gradient(to right, #1f0e42 0%, #361a74 100%);
  /* background: linear-gradient( #FC466B, #3F5EFB); */
}
.logo img {
  width: 20%;
}

.form {
  background: #8a47e22e;
  padding: 3em;
  /* height: 320px; */
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.form input {
  background: transparent;
  padding: 1em;
  margin: 1em 0;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn {
  background: linear-gradient(to right, #8a47e2 0%, #1bbbef 100%);
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  width: 50%;
  font-size: 1rem;
}
.form input:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  color: #fff;
}
.form input:active {
  background: rgba(255, 255, 255, 0.2);
}
.form input::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.568);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#validUrl {
  /* position: absolute;
    top: 0;
    left: 40%; */
  width: 100%;
  display: inline-block;
}
.btn-primary {
  padding: 10px 7px;
  margin-bottom: 0;
  width: 49%;
}
.mark img {
  width: 10%;
  height: 20%;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}
.title {
  position: relative;
  padding: 10px 0;
}
.title:after {
  content: "";
  width: 75%;
  height: 1px;
  background-color: rgba(148, 147, 147, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 992px) {
  .btn-primary {
    padding: 10px 7px;
    margin-bottom: 0;
    width: 60%;
  }
  .logo img {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 40%;
  }
}
